<% @user ||= current_user %>
<div>
  <p>
    <a href="<%= following_user_path(@user) %>">
      following
      <%= @user.following.count %>
    </a>
  </p>

  <p>
    <a href="<%= followers_user_path(@user) %>">
      followers
      <%= @user.followers.count %>
    </a>
  </p>
</div>
